header{
    width: 88%;
    margin: auto;
    background: rgb(248, 195, 204);
    color: black;
    line-height: 100px;
    padding-left: 2%;
}
nav{
    background: rgb(187, 176, 249);
    height: 50px;
    width: 90%;
    line-height: 50px;
    margin: auto;
    position: relative; 
}
nav ul{
    list-style: none;
}
nav ul li a{
    float: left;
    width: 60px;
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}
#container{
    width: 90%;
    margin: auto;
    min-height: 100px;
    background: rgb(176, 103, 138);
    overflow: hidden;
}
.kiri{
    float: left;
    width: 60%;
    margin: auto;
}
.content{
    border: 2px solid rgb(215, 199, 199);
    margin-top: 10px;
    padding: 0pc 2pc 2pc 2pc;
}
.kanan{ 
    float: right; 
    width:  29%; 
    margin: auto; 
} 
.content1{ 
    border: 0px; 
    padding: 0px; 
} 
.content1 ul{ 
    list-style: none; 
    line-height: 40px; 
    padding: 0%; 
} 
.content1 ul li a{ 
    text-decoration: none; 
    line-height: 40px; 
    font-weight: bold; 
} 
footer{ 
    width: 88%; 
    margin: auto; 
    background:rgb(248, 195, 204); 
    color:black; 
    line-height: 40px; 
    padding-left: 2%; 
}